# Build and Release Folders
bin/
bin-debug/
bin-release/
node_modules/
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.log
*.out
*.synctex.gz
*.cls
*.toc

# Other files and folders
.settings/

# System files
.DS_Store